=begin
#V4 Online API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v4

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module RentCentric
  class ReservationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param customer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseGetActiveReservationResponse]
    def reservation_get_active_reservation(customer_id, opts = {})
      data, _status_code, _headers = reservation_get_active_reservation_with_http_info(customer_id, opts)
      data
    end

    # @param customer_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseGetActiveReservationResponse, Fixnum, Hash)>] ResponseGetActiveReservationResponse data, response status code and response headers
    def reservation_get_active_reservation_with_http_info(customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.reservation_get_active_reservation ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling ReservationApi.reservation_get_active_reservation"
      end
      # resource path
      local_var_path = '/api/Reservation/GetActiveReservation'

      # query parameters
      query_params = {}
      query_params[:'customerId'] = customer_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseGetActiveReservationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#reservation_get_active_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param location_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseNumberOfReservationsDTO]
    def reservation_get_number_of_reservations(location_id, opts = {})
      data, _status_code, _headers = reservation_get_number_of_reservations_with_http_info(location_id, opts)
      data
    end

    # @param location_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseNumberOfReservationsDTO, Fixnum, Hash)>] ResponseNumberOfReservationsDTO data, response status code and response headers
    def reservation_get_number_of_reservations_with_http_info(location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.reservation_get_number_of_reservations ...'
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling ReservationApi.reservation_get_number_of_reservations"
      end
      # resource path
      local_var_path = '/api/Reservation/GetNumberOfReservations'

      # query parameters
      query_params = {}
      query_params[:'locationId'] = location_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseNumberOfReservationsDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#reservation_get_number_of_reservations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseListReservationDto]
    def reservation_get_reservations(request, opts = {})
      data, _status_code, _headers = reservation_get_reservations_with_http_info(request, opts)
      data
    end

    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseListReservationDto, Fixnum, Hash)>] ResponseListReservationDto data, response status code and response headers
    def reservation_get_reservations_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.reservation_get_reservations ...'
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling ReservationApi.reservation_get_reservations"
      end
      # resource path
      local_var_path = '/api/Reservation/GetReservations'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseListReservationDto')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#reservation_get_reservations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
