=begin
#V4 Online API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v4

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module RentCentric
  class VehicleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseListVehicleDTO]
    def vehicle_get_available_vehicles(request, opts = {})
      data, _status_code, _headers = vehicle_get_available_vehicles_with_http_info(request, opts)
      data
    end

    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseListVehicleDTO, Fixnum, Hash)>] ResponseListVehicleDTO data, response status code and response headers
    def vehicle_get_available_vehicles_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.vehicle_get_available_vehicles ...'
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling VehicleApi.vehicle_get_available_vehicles"
      end
      # resource path
      local_var_path = '/api/Vehicle/GetAvailableVehicles'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseListVehicleDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#vehicle_get_available_vehicles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseAvailableVehiclesSearchCriteriaDTO]
    def vehicle_get_available_vehicles_search_criteria(request, opts = {})
      data, _status_code, _headers = vehicle_get_available_vehicles_search_criteria_with_http_info(request, opts)
      data
    end

    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseAvailableVehiclesSearchCriteriaDTO, Fixnum, Hash)>] ResponseAvailableVehiclesSearchCriteriaDTO data, response status code and response headers
    def vehicle_get_available_vehicles_search_criteria_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.vehicle_get_available_vehicles_search_criteria ...'
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling VehicleApi.vehicle_get_available_vehicles_search_criteria"
      end
      # resource path
      local_var_path = '/api/Vehicle/GetAvailableVehiclesSearchCriteria'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseAvailableVehiclesSearchCriteriaDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#vehicle_get_available_vehicles_search_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseListGetLocationsByAvailableVehiclesDTO]
    def vehicle_get_locations_by_available_vehicles(request, opts = {})
      data, _status_code, _headers = vehicle_get_locations_by_available_vehicles_with_http_info(request, opts)
      data
    end

    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseListGetLocationsByAvailableVehiclesDTO, Fixnum, Hash)>] ResponseListGetLocationsByAvailableVehiclesDTO data, response status code and response headers
    def vehicle_get_locations_by_available_vehicles_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.vehicle_get_locations_by_available_vehicles ...'
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling VehicleApi.vehicle_get_locations_by_available_vehicles"
      end
      # resource path
      local_var_path = '/api/Vehicle/GetLocationsByAvailableVehicles'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseListGetLocationsByAvailableVehiclesDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#vehicle_get_locations_by_available_vehicles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param vehicle_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseVehicleDTO]
    def vehicle_get_vehicle(vehicle_id, opts = {})
      data, _status_code, _headers = vehicle_get_vehicle_with_http_info(vehicle_id, opts)
      data
    end

    # @param vehicle_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseVehicleDTO, Fixnum, Hash)>] ResponseVehicleDTO data, response status code and response headers
    def vehicle_get_vehicle_with_http_info(vehicle_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.vehicle_get_vehicle ...'
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling VehicleApi.vehicle_get_vehicle"
      end
      # resource path
      local_var_path = '/api/Vehicle/GetVehicle'

      # query parameters
      query_params = {}
      query_params[:'vehicleId'] = vehicle_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseVehicleDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#vehicle_get_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseGetVehicleCalendarResponse]
    def vehicle_get_vehicle_calendar(request, opts = {})
      data, _status_code, _headers = vehicle_get_vehicle_calendar_with_http_info(request, opts)
      data
    end

    # @param request 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseGetVehicleCalendarResponse, Fixnum, Hash)>] ResponseGetVehicleCalendarResponse data, response status code and response headers
    def vehicle_get_vehicle_calendar_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.vehicle_get_vehicle_calendar ...'
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling VehicleApi.vehicle_get_vehicle_calendar"
      end
      # resource path
      local_var_path = '/api/Vehicle/GetVehicleCalendar'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseGetVehicleCalendarResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#vehicle_get_vehicle_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param pickup_location_id 
    # @param vehicle_type_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [ResponseListVehicleDTO]
    def vehicle_get_vehicles(pickup_location_id, vehicle_type_id, opts = {})
      data, _status_code, _headers = vehicle_get_vehicles_with_http_info(pickup_location_id, vehicle_type_id, opts)
      data
    end

    # @param pickup_location_id 
    # @param vehicle_type_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization {token_type} {access_token}
    # @return [Array<(ResponseListVehicleDTO, Fixnum, Hash)>] ResponseListVehicleDTO data, response status code and response headers
    def vehicle_get_vehicles_with_http_info(pickup_location_id, vehicle_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.vehicle_get_vehicles ...'
      end
      # verify the required parameter 'pickup_location_id' is set
      if @api_client.config.client_side_validation && pickup_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'pickup_location_id' when calling VehicleApi.vehicle_get_vehicles"
      end
      # verify the required parameter 'vehicle_type_id' is set
      if @api_client.config.client_side_validation && vehicle_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_type_id' when calling VehicleApi.vehicle_get_vehicles"
      end
      # resource path
      local_var_path = '/api/Vehicle/GetVehicles'

      # query parameters
      query_params = {}
      query_params[:'pickupLocationId'] = pickup_location_id
      query_params[:'vehicleTypeId'] = vehicle_type_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseListVehicleDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#vehicle_get_vehicles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
